# LOOPs
   - For Loop
   - While Loop

In [7]:
#To print your ten times
for i in range(1,10):
    print(i, "Mehfooz Ali")

1 Mehfooz Ali
2 Mehfooz Ali
3 Mehfooz Ali
4 Mehfooz Ali
5 Mehfooz Ali
6 Mehfooz Ali
7 Mehfooz Ali
8 Mehfooz Ali
9 Mehfooz Ali

In [8]:
#list 
students = ['Asad', 'Ali', 'Daad', 'Hassan']

In [9]:
#items se variable uthayenge to single krenge jese students ko student 
#iterable : one by one accesible value
for student in students:
    print(student.lower())

asad
ali
daad
hassan

In [10]:
for char in 'Pakistan':
    print(char)

P
a
k
i
s
t
a
n

In [13]:
for num in 5001:
    print(num)  #Numbers ki alg alg value iterate ny ho skti error dega.

TypeError: 'int' object is not iterable

In [14]:
#Series of number geneerate 
#Range: Range is a generator function

for a in range(10):
    print(a, 'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [16]:
for a in range(1,5):
    print(a, "Python")

1 Python
2 Python
3 Python
4 Python

In [18]:
for a in range(0,20,2):#Three parameters (Starting, Ending-1, Step)
    print(a)

0
2
4
6
8
10
12
14
16
18

In [23]:
for a in range(10,0,-1):
    print(a)

10
9
8
7
6
5
4
3
2
1

# Break and Continue
  - me apne loop ko kaheen rok skon

In [24]:
for student in students:
    if student.endswith('i'):
        break
    else:
        pass
    print(student.lower())

asad

In [25]:
for a in range(1,5):
    if a == 3:
        break
    print(a, "Python")

1 Python
2 Python

In [26]:
for student in students:
    if student.endswith('i'):
        break
    else:
        pass
    print(student.lower())

asad

In [27]:
#continue sirf condition wali value ko skip krta he
for a in range(1,10):
    if a%7 == 0:
        continue
    print(a)

1
2
3
4
5
6
8
9

In [36]:
# Table 2 
for i in range(1,11):
    print(i,"*","2","=", 2*i)

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [53]:
for i in range(0, 5):
    
    
    print(a*b)

**
8
**
8
**
8
**
8
**
8

#Write a program that takes 5 value from user and classify them as odds and even in odds
evens list

In [67]:
eveList = []
oddList = []

for a in range(5):
    userValue = int(input("Enter a value : "))
    if userValue %2 == 0: 
        eveList.append(userValue)

    else: 
        oddList.append(userValue)
        
print(f"This is even list : {eveList} and this is Odd list {oddList}")

Enter a value : 2
Enter a value : 3
Enter a value : 5
Enter a value : 6
Enter a value : 7
This is even list : [2, 6] and this is Odd list [3, 5, 7]

In [66]:
evenList = []
oddList = []
result = None

for a in range(5):
    userValue = int(input("Enter a value : "))
    if userValue %2 == 0: 
        evenList.append(userValue)
#         print(?userValue)
    else: 
        oddList.append(userValue)
#         print(userValue)

print(evenList, oddList)

Enter a value : 2
Enter a value : 3
Enter a value : 4
Enter a value : 5
Enter a value : 6
[2, 4, 6] [3, 5]

# List Comprehension

In [69]:
#need a list of odd numbers between 1,20

odd = []
for num in range(1,21):
    if num%2!=0:
        odd.append(num)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [71]:
[a for a in range(1,21) if a%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [75]:
#Even List

#need a list of odd numbers between 1,20

even = []
for num in range(1,21):
    if num%2 == 0:
        even.append(num)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [80]:
[a for a in range(1,21) if a%2==0 ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [89]:
#others
evens=[]
odds=[]

In [90]:
[evens.append(a) if a%2==0 else odds.append(a) for a in range(1,21)]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [91]:
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [92]:
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [117]:
evenList = []
oddList = []
nums = input("Enter a value : ").split(',')

if len(nums[0])==0:
    print("Sudhar Jaa")

else:
    for num in nums:
        num = int(num)

        if (num)%2==0: 
            evenList.append(nums)
            
        else: 
            oddList.append(nums)
        #         print(userValue)

# print(evenList, oddList)

Enter a value :
Sudhar Jaa

In [101]:
nums = input().split(',')

2,3,4,1,4,5,

In [102]:
nums

['2', '3', '4', '1', '4', '5', '']

In [100]:
'Pakistan'.split('a')

['P', 'kist', 'n']

In [122]:
evenList = []
oddList = []
nums = input("Enter a value : ").split(',')

for val in nums:
    
    if val.isnumeric():
        for num in nums:
            num = int(val)

            if (num)%2==0: 
                evenList.append(nums)

            else: 
                oddList.append(nums)
    else:
        print("Please don't play with us ")

# print(evenList, oddList)

Enter a value : cc
Please don't play with us

# While

In [127]:
#While is condition based limit and for lop is not condition based.
#For loop aik defined range tk chlta he

a=0
while a<10:
    print(a)
    a += 2  # a -= 2 reverse me chalega

0
2
4
6
8

In [129]:
guestList = []
flag = True #boolean

while flag:
    guestName = input("Enter a guest name or press q to exit: ")
    if guestName == 'q':
        flag = False
    else:
        guestList.append(guestName)

print(guestList)

Enter a guest name or press q to exit: Hamza
Enter a guest name or press q to exit: Nasir
Enter a guest name or press q to exit: Mehfooz
Enter a guest name or press q to exit: q
['Hamza', 'Nasir', 'Mehfooz']

# Dictionary

aList = []
aTuple = ()
aSet = {1} #
aDictionary = {Key : Value} #Key : Value

In [131]:
aList = []
aTuple = ()
aSet = {1} 
aDictionary = {}

In [132]:
type(aSet), type(aDictionary)

(set, dict)

In [3]:
#Dicitonary k andar indexin ny hoti ; key se value lete hen
student1 = {'roll' : 123, 'name' : "Mehfooz Ali", 'course' : "AI", 'Status' : True}

In [4]:
student1['roll']

123

In [5]:
student1['name']

'Mehfooz Ali'

In [6]:
student1['email']='graphicx.mehfooz201@gmail.com'

In [7]:
student1

{'roll': 123,
 'name': 'Mehfooz Ali',
 'course': 'AI',
 'Status': True,
 'email': 'graphicx.mehfooz201@gmail.com'}

In [142]:
#delete the value
del student1['roll']

In [8]:
student1

{'roll': 123,
 'name': 'Mehfooz Ali',
 'course': 'AI',
 'Status': True,
 'email': 'graphicx.mehfooz201@gmail.com'}

In [9]:
for key in student1:
    print(student1[key])

123
Mehfooz Ali
AI
True
graphicx.mehfooz201@gmail.com

In [147]:
for key in student1.keys():
    print(key)

name
course
Status
email

In [148]:
for key in student1.keys():
    print(student1[key])

Mehfooz Ali
AI
True
graphicx.mehfooz201@gmail.com

In [149]:
for value in student1.values():
    print(value)

Mehfooz Ali
AI
True
graphicx.mehfooz201@gmail.com

In [152]:
for k,v in student1.items():
    print("(this is key)==",k,"(this is value)==",v)

(this is key)== name (this is value)== Mehfooz Ali
(this is key)== course (this is value)== AI
(this is key)== Status (this is value)== True
(this is key)== email (this is value)== graphicx.mehfooz201@gmail.com

# Packing and un-packing

In [153]:
aList = [22,33]

In [154]:
asad, mehfooz = aList

In [155]:
asad

22

In [156]:
mehfooz

33

In [157]:
a = 100, 200 #by default tuple

In [158]:
a

(100, 200)

In [159]:
q,w = a

In [160]:
q

100

In [161]:
w

200

In [163]:
for a in student1.items():
    print(a)

('name', 'Mehfooz Ali')
('course', 'AI')
('Status', True)
('email', 'graphicx.mehfooz201@gmail.com')