# Strings & User Input

This lecture covers: 
    - User input
    - How to take single and multiple inputs from user using input function
    - Type Casting
    - String indexing
    - String all functions
    - String concatenation
    - String formatting
    - String formatting  using format function
    - String formatting using f 
    - How format a string multiple lines using tripple quoates

# User Input
 - input function take input from user on console. 
 - the input given is called console input/ runtime input
 - The input given from console will always be a string either you input a    
   string value or integer value

In [13]:
name = input("Tell me your good name sir! >>>")

Tell me your good name sir! >>>Nasir Hussain

In [14]:
print(name)
print(type(name))

# see the type of name is string

Nasir Hussain
<class 'str'>

In [15]:
age = input("Tell me your age>")
print(age)
print(type(age))
# still the type of age is string even we enter a integer value in input

Tell me your age>40
40
<class 'str'>

# Can we give more than one input from console?

- No we can not give more than one input from console. 
- But we can use different techniquues to break single input into more than one input

In [16]:
asad,usman  = input("Tell me your age").split(',')

Tell me your age30,40

23,24 is inputted in a single stringl like '23,24'. But we split this single string on "," to break it into two string.

since split will break "23,24" into  '23','24' and assigned it into 
asad <<<== 23
usman<<===24

Note: since our string value will be borken down into 2 values we will need two variables to catch the values.

In [17]:
print(asad)
print(usman)

30
40

The values are still string values

In [18]:
asad

'30'

In [19]:
asad + 1 

# we can not add a integer to a string. 
# a string can not be concatenated in an integer

TypeError: can only concatenate str (not "int") to str

# Type Casting
- changing the data type of a value to another data type is called type casting

In [20]:
type(100)
# type of 100 is integer

int

In [21]:
# changing type of 100 which is integer to string by using str() 
type(str(100))

str

In [22]:
# "500" is a string value.
# converting string 500 into a integer 500 by int() 
type(int("500"))

int

In [23]:
int("asad")

#every string can not be type casted to integer.
#only the string having integer in "" can be converted to integer value

ValueError: invalid literal for int() with base 10: 'asad'

# String 
 - Python has a string class
 - Every String created in python is an object og string class
 - Every string has all the string functions of string class

In [24]:
country = "Pakistan"

In [25]:
country.lower()

'pakistan'

In [26]:
country.upper()

'PAKISTAN'

In [27]:
sentence  = "hi, welcome to Python World"
sentence.capitalize()

'Hi, welcome to python world'

In [28]:
sentence.count('P')

1

In [29]:
sentence.endswith(" ld")

False

In [30]:
sentence.startswith('h')

True

In [31]:
sentence.find('w')

4

In [32]:
#indexing
#      -15       -7    -1  
text = "Hello my friends"
#       0123456789012345

In [33]:
text[3]

'l'

In [34]:
text[-4]

'e'

In [35]:
text

'Hello my friends'

In [36]:
text.find('e')

1

In [37]:
text.find('e',2)
#find "e" in my string value but start your search from index number 2

12

In [38]:
text.index("y")
# returns the position(index) of char y in our string

7

In [63]:
text.isalnum()
text.isalpha()
text.isascii()
#Note: Implement all other functions of string

False

In [69]:
chr(78)

'N'

# Conacatenation
 - joining two or more strings together is called concatenation

In [39]:
first_name = "Nasir"
last_name = "Hussain"

In [40]:
print(first_name+" " + last_name +" "+ str(25))

#first name is string, lastname is string, 
#but 25 is not string we have type casted 25 to str, 
#now it will be concatenated

Nasir Hussain 25

In [41]:
user_name = input("Enter your name")
user_age  = int(input("Enter your age")) 

print("User name is "+user_name+" and age is "+str(user_age))

Enter your nameasad
Enter your age34
User name is asad and age is 34

In [42]:
after_10_years = user_age + 10

In [89]:
after_10_years

44

# Formatting
- Concatenation joins two strings where as formatting formatts a string. 
- We dont need to type cast values in formatting
- Formatting is more convenient and easy to handle the values

Fomatting methods: 
    - format()
    - f-method

# Format()

In [90]:
user_name = input("Enter your name")
user_age  = int(input("Enter your age")) 

"User name is {}  and age is {}".format(user_name,user_age)

Enter your nameasad
Enter your age25

'User name is asad  and age is 25'

- {} are called palace holders
- value used in {} will be supplied from format function
- format function can have hard coded value or a variable

In [92]:
"User name is {1}  and age is {0}".format("Hasan",50)

'User name is 50  and age is Hasan'

- format(value1, value0)
           0        1
           
- In placeholders {} we can also used the index of value.

In [93]:
"User name is {}  and age is {} {}".format("Hasan",50)
# if we have more place holders than values supplied in format
# it will throw error

IndexError: tuple index out of range

Using index of values in palce holder allows to reuse of same values in different placeholders in a string

In [94]:
"User name is {0}  and age is {1} {0}".format("Hasan",50)

'User name is Hasan  and age is 50 Hasan'

# f- method


In f methods we use a f before starting a string. {}{} place holders can directly take the variables. 
This allows more flexibility in formatting a string. 
Easy to handle and easy to use

In [95]:
user_name = input("Enter your name")
user_age  = int(input("Enter your age"))

f"User name is {user_name}  and age is {user_age}"

Enter your namenasir
Enter your age29

'User name is nasir  and age is 29'

# Multiple line strings

In [ ]:
We can use escape characters to format srings in multiple lines 
Please read afew escape characters from this link

In [97]:
print("I am learning python. \nWe are in Karachi")

I am learning python.
We are in Karachi

In [ ]:
#We can make a string using single quotes(' ')
a_single_quote_string_value = 'I am single quote string value'

In [44]:
#We can make a string using double quotes(' ')
a_double_quote_string_value = "I am double quote string value"

In [ ]:
#We can make a string using tripple quotes(''' ''')
a_tripple_quote_string_value = '''I am tripple quote string value'''
tripple_quote_string_value = """I am tripple quote string value"""

Note: A tripple quote string allows a multiple line string with spaces and line changes as it is as you supply in string

         ID Card
name: Nasir
Father: Hussain
Coourse: AI
Batch : 2022
Sir Syed University

In [52]:
name = input("Enter name>>>")
father=input("Enter father name>>>")
course=input("Enter course title>>>")
batch = input("Enter batch>>>")
centre = input("Centre name>>>")

Enter name>>>Nasir Hussain
Enter father name>>>Hussain
Enter course title>>>Artificial Intelligence
Enter batch>>>2022
Centre name>>>Sir Syed University of Engg & Technology

In [56]:
print(f"""
     ID Card
     _______
     
     PIAIC
     
name    : {name}
Father  : {father}
    
Coourse : {course}
Batch   : {batch}
Centre  : {centre}


""")

     ID Card
     _______

     PIAIC

name    : Nasir Hussain
Father  : Hussain

Coourse : Artificial Intelligence
Batch   : 2022
Centre  : Sir Syed University of Engg & Technology